<header class="header">
    <a href="/" class="header__logo"></a>
    <h4><%= username %></h4>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/user/dashboard" class="">Home</a>
            </li>
            <li>
                <a href="/aboutuser" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
        </ul>

    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>

</header>